.DS_Store
slides/bio724_quarto_pdfslide_template/.Rhistory
slides/slides_dataframes_lists_indexing/.Rhistory
slides/slides_dataframes_lists_indexing/slides-dataframes-lists-indexing_files/figure-beamer/unnamed-chunk*
templates/.Rhistory
slides/slides_factors_pivoting/.Rhistory
slides/slides_testing_debugging/.Rhistory
